<?xml version="1.0"?>
<config>
    <modules>
        <Cyberhull_CmsProducts>
            <version>1.0.0</version>
        </Cyberhull_CmsProducts>
    </modules>
    <global>
        <helpers>
            <cmsproducts>
                <class>Cyberhull_CmsProducts_Helper</class>
            </cmsproducts>
        </helpers>
        <blocks>
            <cmsproducts>
                <class>Cyberhull_CmsProducts_Block</class>
            </cmsproducts>
        </blocks>
        <models>
            <cmsproducts>
                <class>Cyberhull_CmsProducts_Model</class>
                <resourceModel>cmsproducts_resource</resourceModel>
            </cmsproducts>
            <cmsproducts_resource>
                <class>Cyberhull_CmsProducts_Model_Resource</class>
                <entities>
                    <cms_page_product>
                        <table>cms_page_product</table>
                    </cms_page_product>
                </entities>
            </cmsproducts_resource>
            <cms_resource>
                <rewrite>
                    <page>Cyberhull_CmsProducts_Model_Cms_Resource_Page</page>
                </rewrite>
            </cms_resource>
        </models>
        <resources>
            <cmsproducts_setup>
                <setup>
                    <module>Cyberhull_CmsProducts</module>
                </setup>
            </cmsproducts_setup>
        </resources>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <cmsproducts_cms>
                    <file>cyberhull/cmsproducts.xml</file>
                </cmsproducts_cms>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Cyberhull_CmsProducts before="Mage_Adminhtml">Cyberhull_CmsProducts_Adminhtml</Cyberhull_CmsProducts>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <layout>
            <updates>
                <cmsproducts_cms>
                    <file>cyberhull/cmsproducts.xml</file>
                </cmsproducts_cms>
            </updates>
        </layout>
    </frontend>
</config>